<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DBCS" connectionString="data source=DESKTOP-36OD2RK\SQLEXPRESS; initial catalog=SampleDB; integrated security=SSPI" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>